body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overscroll-behavior: none;
}

ol, ul {
  list-style: none;
}

input:focus {
  outline-color: #293965ad;
}

input::placeholder {
  opacity: .5;
}

code.hljs {
  font-family: 'Courier';
  display: block;
  overflow-x: auto;
  padding: 10px;
  color: #abb2bf;
  background: #282c34;
  border-radius: 5px;
}

code.hljs .pageText {
  font-family: 'Courier';
  color: #abb2bf;
}

code .hljs-comment,
code .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

code .hljs-doctag,
code .hljs-keyword,
code .hljs-formula {
  color: #c678dd;
}

code .hljs-section,
code .hljs-name,
code .hljs-selector-tag,
code .hljs-deletion,
code .hljs-subst {
  color: #e06c75;
}

code .hljs-literal {
  color: #56b6c2;
}

code .hljs-string,
code .hljs-regexp,
code .hljs-addition,
code .hljs-attribute,
code .hljs-meta-string {
  color: #98c379;
}

code .hljs-built_in,
code .hljs-class .hljs-title {
  color: #e6c07b;
}

code .hljs-attr,
code .hljs-variable,
code .hljs-template-variable,
code .hljs-type,
code .hljs-selector-class,
code .hljs-selector-attr,
code .hljs-selector-pseudo,
code .hljs-number {
  color: #d19a66;
}

code .hljs-symbol,
code .hljs-bullet,
code .hljs-link,
code .hljs-meta,
code .hljs-selector-id,
code .hljs-title {
  color: #61aeee;
}

code .hljs-emphasis {
  font-style: italic;
}

code .hljs-strong {
  font-weight: bold;
}

code .hljs-link {
  text-decoration: underline;
}
